.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .homepage-container img {
    margin-bottom: 16px;
    cursor: pointer;
    width: 100%;
  }